.felx__spacer {
    flex: 1 1 auto;
}

.top__nav {
    display: flex;
    .active {
        background-color: darken($color: #3f51b5, $amount: 5)
    }
    &--item {
        list-style: none;
        &:hover {
            background-color: darken($color: #3f51b5, $amount: 5)
        }
        a {
            color: #fff;
            text-decoration: none;
            font-size: .8em;
            display: block;
            padding: 10px;
        }
    }
}