<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>{{title}}</span>
        <span class="felx__spacer"></span>
        <ul class="top__nav">
            <li class="top__nav--item" routerLinkActive="active">
                <a routerLink="/">Hem</a>
            </li>
            <li class="top__nav--item" routerLinkActive="active">
                <a routerLink="/volym">Volym</a>
            </li>
            <li class="top__nav--item" routerLinkActive="active">
                <a routerLink="/avstand">Avstånd</a>
            </li>
        </ul>
    </mat-toolbar-row>
</mat-toolbar>