<h1 class="mat-title mr-1" style="text-align:center">Beräkning av avståndspris</h1>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- avstand Column -->
    <ng-container matColumnDef="avstand">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Avstånd </th>
        <td mat-cell *matCellDef="let element"> {{element.avstand}} </td>
    </ng-container>

    <!-- pris Column -->
    <ng-container matColumnDef="pris">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pris </th>
        <td mat-cell *matCellDef="let element"> {{element.pris}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>